/* body{
    display: flex;
    padding: 0;
    margin: 0;
} */
.main{
    display: flex;
    /* background-color: gold; */
width: 100%;
height: 200vh;
}
.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    /* background-color: crimson; */
}
#header{
    display: flex;
    flex: 1;
    background-color:#1F2937;
    flex-direction: column;
    padding: 5px 15%;
}
.nav-bar{
    display: flex;
    /* background-color: red; */
    flex-grow: 1;
    justify-content: space-between;
    max-height: 100px;
}
.logo{
    display: flex;
    align-items: flex-start;
    color: whitesmoke;
    font-weight: bold;
    font-size: 24px;
}
.nav-link{
    display: flex;
    gap: 19px;
}
.links{
    display: flex;
    padding-top: 5px;
    align-items: flex-start;
    color: whitesmoke;

}
.head-left{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    /* height: 250px; */
    /* background-color: salmon; */
}
.msg{
    color:  #f9faf8;
    font-size: 40px;
    font-weight: bold;
}
.head-right{
 background-color: rgba(196, 191, 191, 0.678);
    display: flex;
    flex: 2;
    max-width: 550px;
    justify-content: center;
    align-items: center;
}
.button{
    background-color: #3882F6;
    display: flex;
   flex: 0;
   justify-content: center;
   width: 80px;
   padding: 3px 8px;
   font-weight: bold;
   border-radius: 4px;
}
.h-content{
    display: flex;
    flex-grow: 2;
    justify-content: space-between;
    /* align-items: flex-start; */
    /* background-color: green; */
    color:  #f9faf8;
padding: 20px 2px;
}
.body{
    display: flex;
    flex: 3;
    flex-direction: column;
    padding: 5px 15%;
}
#block1{
    display: flex;
    flex: 1;
    background-color: green;
    flex-direction: column;
}
.b1_head{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
}
.inside{
    display: flex;
 flex: 2;   
}
#block2{
 background-color: yellow;
    display: flex;
    flex: 1;
}
#block3{
    background-color: orange;
    display: flex;
    flex: 1;
}
.footer{
 background-color: orange;
    display: flex;
    flex-grow: 1;
    max-height: 80px;
    background-color:#1F2937;
    justify-content: center;
}
.f-txt{
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    
}